<%- include('../partials/header') %>
<div class="row justify-content-center"></div>
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="row">Title</th>
      <th scope="row">Climb Grade Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% climbs.forEach(function(c) { %>
      <tr>
        <td><%= c.title %></td>
        <td><%= c.gradeRating %></td>
        <td><a href="/climbs/<%= c._id %>" id="details">Check me out!</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
  
<%- include('../partials/footer') %>
